<div class="session-chart">
    <h3 class="session-chart-title">Last 7 days</h3>
    <div class="session-chart-table">
        @for (workSessionHistory of workSessionHistoryList(); track $index) {
            <div class="session-chart-table__column">
                <div class="session-chart-table__column--label">
                    {{ workSessionHistory.sessionAmount }}
                </div>
                <div 
                    class="session-chart-table__column--block" 
                    [style.height]="(workSessionHistory.workTimeTotal * 12 / maxHeight()) + 'rem'">
                </div>
            </div>
        }
    </div>
    <div class="session-chart-footer">
        @for (workSessionHistory of workSessionHistoryList(); track $index) {
            <div class="session-chart-footer__date">
                {{ workSessionHistory.timestamp | date: 'YYY-MM-dd' }}
            </div>
        }
    </div>
</div>
