.personal-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2.5rem;
        gap: 4rem;

        &--label {
            align-self: flex-start;
            color: var(--gray-color-2);
            &::after {
                content: ':';
            }
        }

        &--value {
            align-self: flex-end;
        }
    }
}