@use '../../../../assets/styles/pomodoro-button';

:host {
    display: contents;
}

:host:first-child .pomodoro-button {
    border-bottom-left-radius: 1rem;
}

:host:last-child .pomodoro-button {
    border-bottom-right-radius: 1rem;
}

.pomodoro-button__icon {
    width: 3.25rem;
    height: 3.25rem;
    fill: var(--white-color-1);
}
