:host {
    position: relative;
}

main {
    height: 100%;
    background-color: var(--white-color-1);
    color: var(--black-color-1);
}

.loading {
    z-index: 9001;
    position: absolute;
    height: 100vh;
    width: 100vw;

    background-color: rgba(#000, 0.8);
    
    display: flex;
    justify-content: center;
    align-items: center;

    &-spinner {
        border: 2rem solid var(--gray-color-1);
        border-top: 2rem solid var(--gray-color-3);
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        animation: spin 1.25s linear infinite;
    }
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
