:host {
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    &__title {
        text-align: center;
        font-size: 7.5rem;
    }

    &__list {
        display: flex;
        flex-flow: column;
        gap: 1rem
    }
}