.status {
    margin: auto;
    padding: 2rem 0;
    width: 80%;

    &__title {
        text-align: center;
        font-size: 7.5rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-flow: column;
        gap: 1rem
    }
}