:host {
    position: relative;
    display: block;
    width: 100%;
}

.navbar {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
