@use '../../../assets/styles/pomodoro-button';

.pomodoro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;

    &-title {
        font-size: 10rem;
        text-align: center;
    }

    &-display {
        text-align: center;

        &__timer {
            font-size: 8rem;
        }

        &__cycles {
            font-size: 2rem;
            color: var(--gray-color-4);
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1px;
    }

    &-button {
        &__text {
            font-size: 3rem;
            font-family: var(--font-family);
            color: var(--white-color-1);
        }
    }
}
