:host {
    width: 100%;
    position: relative;
}

.toast {
    position: absolute;
    z-index: 9999;
    left: 1.5rem;
    top: 1.5rem;

    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}