/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/variables';

* {
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;

    @media (max-width: 600px) {
        font-size: 50%;
    }
}

html, body {
    height: 100%;
    overflow: hidden;
}
