:root {
    --white-color-1: #f8f8f8;

    --black-color-1: #222;
    --black-color-2: #1a1a1a;

    --gray-color-1: #AAA;
    --gray-color-2: #888;
    --gray-color-3: #444;
    --gray-color-4: #C8C8C8;

    --red-color-1: #f66;
    --red-color-2: #f22;
    --red-color-3: #faa;

    --blue-color-1: #4ba9c8;
    --blue-color-2: #286e85;
    --blue-color-3: #99cee0;

    --font-family: "Jersey 25", sans-serif;
}
