.menu {
    &__title {
        font-size: 4rem;
        margin-bottom: 2rem;
        cursor: pointer;

        &:hover, &:focus {
            color: var(--gray-color-1);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        &--item {
            font-family: var(--font-family);
            background-color: transparent;
            text-align: left;
            border: 0;
            cursor: pointer;
            font-size: 2rem;
            padding: 1rem 0;

            &:not(:last-child) {
                border-bottom: 1px solid var(--gray-color-1);
            }
        }

        &--selected, &--item:hover, &--item:focus {
            color: var(--gray-color-1);
        }
    }
}
